<div style="text-align:center">

</div>


<!--<app-draw></app-draw>-->

<!--
<app-drawoverview></app-drawoverview>
-->


<div class="card-deck">
    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src="../assets/rocket-blades.png" alt="Acme roller blades">
      <div class="card-body">
        <h5 class="card-title">Never caught the roadrunner?</h5>
        <p class="card-text">At acme corporation we deliver everything you need to catch the roadrunner! Try our new rocket powered roller blades!</p>
        <a href="#" class="btn btn-primary">Buy now</a>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src="../assets/mountable-rocket.jpg" alt="Acme mountable rockets">
      <div class="card-body">
        <h5 class="card-title">Mountable rocket on discount!</h5>
        <p class="card-text">Save up to 90% on mountable rockets!</p>
        <a href="#" class="btn btn-primary">Buy now</a>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <img class="card-img-top" src="../assets/support-professional.jpg" alt="Acme professional">
      <div class="card-body">
        <h5 class="card-title">Acme support</h5>
        <p class="card-text">Work together with a team of professionals</p>
        <a href="#" class="btn btn-primary">Say hello to Wile e coyote</a>
      </div>
    </div>
  </div>
