<p>draw overview report</p>


<div class="container">

  <div>
    <table>
    </table>
  </div>

    <div class="pagination-container">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="previous()" >Previous</a></li>
            <li class="page-item"><a class="page-link" >1</a></li>
            <li class="page-item"><a class="page-link" >2</a></li>
            <li class="page-item"><a class="page-link" >3</a></li>
            <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
        </ul>
    </div>
</div>
